.Cell {
  width: 9vw;
  height: 9vw;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  background: #34495e;
  color: #ecf0f1;
  text-transform: uppercase;
  font-size: 4vw;
  user-select: none;
  cursor: pointer;

  &:nth-child(2n) {
  }
}
